* {
    margin: 0px;
    padding: 0px;
}
.goodsListcontentDiv {
    width: 360px;
    height: auto;
    background-color: #c5c5c5;
}
.goodsListcontentDiv .goodsListcontent {

}

.goodsListcontentDiv .goodsListcontent .goodDiv {
    width: 50%;
    background-color: #003eff;
    border-color: red;
    /*border-width: 2px;*/
    float: left;
}


/*li:nth-child(4n+1){*/
    /*background-color: red;*/
/*}*/
/*li:nth-child(4n+2){*/
    /*background-color: green;*/
/*}*/
/*li:nth-child(4n+3){*/
    /*background-color: yellow;*/
/*}*/
/*li:nth-child(4n+4){*/
    /*background-color: blueviolet;*/
/*}*/

/*odd 为奇数, even为偶数*/
/*li:nth-child(even){*/
    /*background-color: greenyellow;*/
/*}*/
/*倒序*/
/*li:nth-last-child(even){*/
/*background-color: greenyellow;*/
/*}*/

.goodsListcontentDiv .goodsListcontent .goodDiv .good{
    /*padding: 0px 2px 0px 4px;*/
    background-color: gold;
    border-color: red;
    /*border-width: 2px;*/
    float: left;
}

/*.goodsListcontentDiv .goodsListcontent .goodDiv .good:nth-of-type(even){*/
    /*!*padding: 0px 4px 0px 2px;*!*/
    /*background-color: gold;*/
    /*border-color: red;*/
    /*!*border-width: 2px;*!*/
    /*float: left;*/
/*}*/

.goodsListcontentDiv .goodsListcontent .goodDiv .good img:nth-child(1) {
    width: 100%;
    height: 100px;
}
.goodsListcontentDiv .goodsListcontent .goodDiv .good .goodprice {
    width: 180px;
    height: auto;
}
.goodsListcontentDiv .goodsListcontent .goodDiv .good .gooddetail {
    color: red;
}
.goodsListcontentDiv .goodsListcontent .goodDiv .good img:nth-child(2) {
    width: 18px;
    height: 18px;
    float: left;
}

