.footer ul {
    width: 100%;
    height: 100%;
}
.footer ul li {
    width: 33.33%;
    height: 100%;
    float: left;
    list-style-type: none;
    background-color: aqua;
    text-align: center;
}
#footer {
    float: left;
    width: 100%;
    height: 49px;
    background-color: #003eff;
    position: fixed;
    bottom: 0px;
}
.footer ul li a {
    text-align: center;
    text-decoration: none;
    line-height: 49px;
    
}
.footer ul li:hover {
    background-color: gray;
}